/* home.css - styles for the home/landing page */

nav {
  margin-bottom: 0 !important; 
}

.landing-image {
  background-image: url("/images/egypt_header_map.jpg");
  height: 20em;
  margin-bottom: 1em;
}

.landing-image > div {
  background-color: rgba(0,0,0,.75);
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  height: 100%;
  color: white;
  padding: 0 2em;
}

.start-exploring {
  margin-top: .5em;
  border-width: 2px;
  font-weight: bold;
}