/* lists.css - styles for list of publications and pages like it */

dl > div {
  margin-bottom: 1.5em;
}

#index {
  padding-bottom: 1em;
}

.index-link {
  margin: .1em .2em;
  padding: 0 .5em;
  background-color: gainsboro;
  font-family: monospace;
}