<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nile Travelogues</title>
  <%- include("../partials/head") %>
</head>
<body class="container">
  <header>
    <%- include("../partials/header") %>
  </header>
  <main>
    <p>
      Nile Travelogues is a database containing travelogues of late 19th to early 20th century
      travelers to Egypt.
    </p>
  </main>
  <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>
</html>