<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nile Travelogues - Publications list</title>
  <%- include("../partials/head") %>
</head>
<body>
  <header>
    <%- include("../partials/header") %>
    <h2>List of Publications</h2>
  </header>
  <main>
    <div>
      <ul id="publications"></ul>
      <button id="next">Load more</button>
    </div>
  </main>
  <script type="module" src="js/publications-list.mjs"></script>
</body>
</html>