<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nile Travelogues - Publications list</title>
  <link rel="stylesheet" href="/css/lists.css">
  <%- include("../partials/head") %>
</head>
<body>
  <header>
    <%- include("../partials/header") %>
    <h1 class="container">List of Publications</h1>
  </header>
  <main class="container">
    <nav id="index" class="d-flex flex-wrap justify-content-center"></nav>
    <div>
      <dl id="publications"></dl>
      <template id="entry">
        <div class="row">
          <div class="col-sm-4">
            <dt><a class="title"></a></dt>
            <dd>
              <ul class="author plain-authorlist"></ul>
            </dd>
          </div>
          <dd class="summary col-sm-8"></dd>
        </div>
      </template>
    </div>
  </main>
  <%- include("../partials/footer") %>
  <script type="module" src="/js/check-status.mjs"></script>
  <script type="module" src="/js/publications-list.mjs"></script>
</body>
</html>