<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nile Travelogues - Publications list</title>
  <%- include("../partials/head") %>
</head>
<body>
  <header>
    <%- include("../partials/header") %>
    <h2>List of Publications</h2>
  </header>
  <main>
    <div>
      <dl id="publications"></dl>
      <button id="next">Load more</button>

      <template id="entry">
        <div>
          <dt class="title"></dt>
          <dd class="author"></dd>
          <dd class="summary"></dd>
        </div>
      </template>
    </div>
  </main>
  <script type="module" src="js/publications-list.mjs"></script>
</body>
</html>