<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nile Travelogues - Publications by traveler</title>
  <link rel="stylesheet" href="css/lists.css">
  <%- include("../partials/head") %>
</head>
<body>
  <header>
    <%- include("../partials/header") %>
    <h1 class="container">List of Publications by Traveler</h1>
  </header>
  <main class="container">
    <nav id="index" class="d-flex flex-wrap justify-content-center"></nav>
    <dl id="travelers"></dl>
    <template id="entry">
      <div class="row">
        <div class="col-sm-4">
          <dt class="author"></dt>
          <dd class="nationality"></dd>
        </div>
        <div class="col-sm-8">
          <dd>
            <ul class="publications"></ul>
          </dd>
        </div>
      </div>
    </template>
  </main>
  <%- include("../partials/footer") %>
  <script type="module" src="js/check-status.mjs"></script>
  <script type="module" src="js/travelers-list.mjs"></script>
</body>
</html>